* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    background-color: #0d325a;
    color: white;
    font-size: 16px;
}

header .container {
    padding-top: 16px;
}

.head-dx {
    float: right;
}

#logo {
    float: left;
    margin: 0 20px 0 0;
}

nav {
    height: 70px;
    text-transform: uppercase;
    line-height: 70px;
}

nav .ul-sx {
    height: 100%;
    float: left;
}

nav .ul-dx{
    height: 100%;
    float: right;
}


nav li {
    display: inline-block;
    float: left;
    margin: 0 10px;
}

nav li a:link {
    text-decoration: none;
    color: white;
}

button.trasp {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    border: 1px solid #4783ac;
    border-radius: 7px;
    cursor: pointer;
    color: white;
}

button.pieno {
    text-transform: uppercase;
    background-color: #7fb802;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    color: white;
}

/* .banner {
    background-image: url('../img/oldman.png');
    background-size: contain;
    background-position: right;
} */

.banner .head-scatole {
    width: 50%;
    height: 400px;
    float: left;
    position: relative;
}

.head-scatole img {
    width: 120%;
    object-position: left;
    position: absolute;
    left: 0;
    bottom: 0;
}

.banner .box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 30px;
    line-height: 1.2;
}

.banner button {
    text-transform: uppercase;
    background-color: #7fb802;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
